*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blank{
  background-color: #1f1e1e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #000000;
  width: 52.083vw;
  height: 33.438vw;
  display: flex;
  padding-left: 4.688vw;
  padding-right: 1.719vw;
  justify-content: space-between;
}

.title{
  color: #86868B;
  width: 9.323vw;
  height: 1.25vw;
  font-size: 1.042vw;
  margin-top: 5.573vw;
}

.subtitle{
  color : white;
  width: 17.656vw;
  height: 5.313vw;
  font-weight: bold;
  font-size: 2.188vw;
  margin-top: 0.781vw;
}

.description{
  width: 18.438vw;
  height: 13.75vw;
  font-size: 0.938vw;
  color: #86868B;
  font-weight: bold;
  margin-top: 1.146vw;
}

.image img{
  width: 20.573vw;
  height: 29.479vw;
  margin-top: 3.958vw;
}

.pc {
  display: block;
}

.mb{
  display: none;
}

@media(max-width: 720px) {
  .pc{
    display: none;
  }
  .mb{
    display: block;
    width: 24.323vw;
  }
  .container{
    width: 31.25vw;
    height: 57.292vw;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  .description{
    height: 8.021vw;
    margin-top: 2.188vw;
  }
  .image img{
    width: 20.573vw;
    height: 29.479vw;
  }
  .subtitle{
    margin-top: 0.885vw;
  }
  .title{
    margin-top: 2.188vw;
  }
}